absl-py==0.7.1
amqp==2.3.2
appnope==0.1.0
astor==0.8.0
billiard==3.5.0.4
bleach==3.0.2
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
click==6.7
cloudpickle==0.5.6
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
Flask==1.0.2
future==0.16.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.23.0rc1
h5py==2.9.0
idna==2.7
imageio==2.4.1
ipykernel==5.1.0
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
Jinja2==2.10
joblib==0.14.1
jsonschema==2.6.0
kiwisolver==1.0.1
kombu==4.2.1
MarkupSafe==1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
numpy==1.15.2
pandas==0.25.3
pandocfilters==1.4.2
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==1.0.15
protobuf==3.9.1
pygcn==0.1
Pygments==2.2.0
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.0.1
PyYAML==5.1.1
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.19.1
scikit-learn==0.22
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
traitlets==4.3.2
urllib3==1.23
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
